    <doctype html ="">
    <title>New Provider - Minnesota BIPOC Mental Health Provider Database</title>
    <h2>New Provider</h2>

    {% from "_formhelpers.html" import render_field %}
    <form method="post">
        <dl>
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.gender) }}
            {{ render_field(form.race) }}
            {{ render_field(form.phone) }}
            {{ render_field(form.email) }}
            {{ render_field(form.language) }}
            {{ render_field(form.services) }}
            {{ render_field(form.clinic) }}
            {{ render_field(form.website) }}
    </dl>
    <p><input type="submit" value="Submit">
</p></form>
</doctype>
